.grid-layout {
  min-width: 50%;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.card {
  border-radius: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.small {
  grid-column: span 1;

  background-color: brown;
}
.medium {
  grid-column: span 2;

  background-color: blue;
}
.large {
  grid-column: span 3;

  background-color: green;
}
